<!DOCTYPE html>
<html>
<head>
<title>New Fashions a Flat Ecommerce Bootstarp Responsive Website Templat</title>
<link href="__ROOT__/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__ROOT__/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,800,700,500,300,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="__ROOT__/public/css/component.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Fashions Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
		/>		
<script src="__ROOT__/public/js/jquery.min.js"></script>
<script src="__ROOT__/public/js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="__ROOT__/public/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__ROOT__/public/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- start menu -->
</head>
<body>
<!--header-->
<include file="public::header2" />
<!--header//-->
<div class="about">
	 <div class="container">
			<ol class="breadcrumb">
		  <li><a href="index.html">主页</a></li>
		  <li class="active">关于我们</li>
		 </ol>
		 <h2>关于我们</h2>
		 <div class="about-sec">
			 <div class="about-pic"><img src="__ROOT__/public/images/a1.jpg" class="img-responsive" alt=""/></div>
			 <div class="about-info">
				 <p>新风尚洋溢着现代浪漫以及欧陆情怀服装广告文案的中高端时装品牌，以优雅设计及简约线条见称，不论时常衣着或晚装都极易配衬，是追求潮流及时尚人士的心仪之选。
在这个崇尚个性时尚的时代，新风尚公司特别推出高级量身订制业务，让您感受现代立体裁剪的贴身之美。</p>
<p>品牌风格：秉乘东方神秘优雅展现欧洲时尚风情，注重搭配，讲究品位，工艺精致，用料上乘，时尚而优雅，有品位而不张扬。</p>
<!-- <p>新风尚的品牌宗旨是：让心情愉悦！让梦想飞扬！</p> -->
<p>设计师团队：新风尚高级设计师团队以独特新潮的目光，紧随流行时尚，锻造经典之美。<!-- 设计师团队总部设于香港这座世纪时尚都市。我们站在巴黎的艾菲尔铁塔下，信步走 在米兰的蒙特拿破仑大道上感受国际时尚之风，到梦幻般的香格里拉寻找大自然赋予的天地美，去遥远的阿尔卑斯山感受纯净之美……最终我们会将这些美化为霓裳。 -->
</p>
<p>
联系方式
　　<p>地址:北京亦庄经济技术开发区东区25号蓝天工业园</p>
　　<p>电话: 010- 87397706</p>
				 <a href="blog-single.html">更多..</a>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		<!--  <h3>OUR SPECIALS</h3> -->
		 <div class="about-grids">
<!-- 			 <div class="col-md-3 about-grid">
				 <img src="__ROOT__/public/images/ab1.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Kurtis & Kurtas</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="col-md-3 about-grid">
				 <img src="__ROOT__/public/images/ab2.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Salwars</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="col-md-3 about-grid pot-2">
				 <img src="__ROOT__/public/images/ab3.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Desi Look</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="col-md-3 about-grid pot-1">
				 <img src="__ROOT__/public/images/ab4.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Designersaree</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="clearfix"></div>
			 <div class="bottom-grids">
			 <div class="col-md-3 about-grid flwr">
				 <img src="__ROOT__/public/images/ab5.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>NEWLOOK</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="col-md-3 about-grid flwr">
				 <img src="__ROOT__/public/images/ab6.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Meriea</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="col-md-3 about-grid flwr pot-2">
				 <img src="__ROOT__/public/images/ab7.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Woolen Shurg</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div>
			 <div class="col-md-3 about-grid flwr pot-1">
				 <img src="__ROOT__/public/images/ab8.jpg" class="img-responsive" alt=""/>
				 <a href="blog-single.html"><h4>Black Shurg</h4></a>
				 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, recusandae, minima deserunt pariatur illo eos doloremque 
				 Asperiores modi temporibus consequuntur tempore quibusdam!</p>
			 </div> -->
			 <div class="clearfix"></div>
			 </div>
		 </div>
	 </div>
</div>

<!--fotter-->
<include file="footer" />
<!--fotter//-->

</body>
</html>