<!DOCTYPE html>
<html>
<head>
<title>新风尚平面电子商务网站</title>
<link href="__ROOT__/public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="__ROOT__/public/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,600,800,700,500,300,100,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="__ROOT__/public/css/component.css" />
<script src="__PUBLIC__/js/jquery-1.8.0.js" ></script> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="New Fashions Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" 
		/>
<script src="__ROOT__/public/js/jquery.min.js"></script>
<script src="__ROOT__/public/js/simpleCart.min.js"> </script>
<!-- start menu -->
<link href="__ROOT__/public/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="__ROOT__/public/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- start menu -->
</head>
<body>
<!--header-->
<include file="public::header2" />
<!--header//-->
<div class="cart">
	 <div class="container">
			 <ol class="breadcrumb">
		  <li><a href="__APP__/Index">主页</a></li>
		  <li class="active">购物车</li>
		 </ol>
		 <div class="cart-top">
			<a href="index.html"><< 返回主页</a>
		 </div>	
			
		 <div class="col-md-9 cart-items">
			 <h2>我的购物车 (2)</h2>
				<script>
			/*	function cli(k){
				$(function(){
					$(".cli"+k).click(function(){
						$(".cart-header"+k).fadeOut("slow",function(){
							$('.cart-header'+k).remove();
						});
					});

				});
				 window.location = "__APP__/Cart/del/productid/"+productid;
			} */

			      //删除单个商品
			      function del(productid)
			      {
			    	  window.location = "__APP__/Cart/del/productid/"+productid;
			      }
				  function clear()
				  {
					  if(confirm("是否清空购物车?"))
					  {		
						window.location = "__APP__/Cart/clear";						   
					  }
				  }
			// //利用ajax修改产品数量计算价格
		      function changebuynum(productid,price,buynum,allexpress)
		      {		
				console.log (productid,price,buynum)
				
		    	  //获取购买的数量
		    	  $.ajax({
		    		  type:"post",
		    		  url:"__APP__/Cart/update",
		    		  data:"productid="+productid+"&price="+price+"&buynum="+buynum+"",
		    		  dataType:"json",
		    		  success:function(msg){
 		    			  var totalPrice = msg.totalPrice;
		    			  var price = msg.price;
		    			  $("#totalSpan").html(totalPrice);
		    			  $("#price"+productid).html(price); 
		    			  $("#allprice").html(allexpress+totalPrice);	
		    		  }
		    	  }); 
		      }
			   </script>
			  <foreach name="arr" key="k" item="v" > 
			 <div class="cart-header">
				 <div class="close"  onclick="del({$v.id})"> </div>
				 <div class="cart-sec">
						<div class="cart-item cyc">
							 <img src="__ROOT__/public/images/{$v.imagename}"/>
						</div>
					   <div class="cart-item-info">
							 <h3>{$v.title}<span>Model No: {$v.id}</span></h3>
							 <h4 > 商品总价：<span id="price{$v.id}">{$v.money}</span></h4>
							 <p class="qty">数量 ::</p>
							 <input min="1" type="number" id="quantity" name="quantity" value="{$v.buynum}" onblur="changebuynum({$v.id},{$v.price},this.value,{$allexpress})" class="form-control input-small">
					   </div>
					   <div class="clearfix"></div>
						<div class="delivery">
							 <p>快递费 ：{$v.express}</p>
							 <span>预计 2-3工作日内到达</span>
							 <div class="clearfix"></div>
				        </div>						
				  </div>
			 </div>	
			 </foreach>				
		 </div>
		 
		 <div class="col-md-3 cart-total">
			 <!-- <a class="continue" href="{$Think.server.HTTP_REFERER}">继续购物</a> -->
			  <a class="continue" href="__APP__/Index/index">继续购物</a>
			 <a class="continue" href="javascript:clear();">清空购物车</a>
			 <div class="price-details">
				 <h3>订单</h3>
				 <span>商品合计</span>
				 <span class="total" id="totalSpan">{$allmoney}元</span>
				 <span>邮费合计</span>
				 <span class="total">{$allexpress}元</span>
				 <div class="clearfix"></div>				 
			 </div>	
			 <h4 class="last-price">需付款</h4>
			 <span class="total final" id="allprice">{$allmoney+$allexpress}元</span>
			 <div class="clearfix"></div>
			 <a class="order" href="#">结账</a>
			 <div class="total-item">
				 <h3>OPTIONS</h3>
				 <h4>COUPONS</h4>
				 <a class="cpns" href="#">Apply Coupons</a>
				 <p><a href="#">Log In</a> to use accounts - linked coupons</p>
			 </div>
			</div>
	 </div>
</div>
<!--fotter-->
<include file="public::footer" />
<!--fotter//-->

</body>
</html>

